@page "/"

<h1>Platform Dev plus plus</h1>

Welcome to <a href="http://gebeya.com/">Gebeya and Pole Digital Training ...</a>.

<SurveyPrompt Title="How is Blazor working for you without JS?" />

<h3> There is my modification </h3>
